<header class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="container px-4">
    <a
      [routerLink]="['/']"
      class="navbar-brand is-size-3 has-text-weight-bold has-text-white"
    >
      Discover Books
    </a>
  </div>
</header>

<div class="container is-flex is-flex-wrap-nowrap">
  <input
    type="search"
    class="input is-info is-radiusless px-4"
    placeholder="Find books..."
    (keyup)="onChange($event)"
  />

  <button
    type="button"
    class="button is-info is-radiusless"
    (click)="onButtonClick()"
  >
    Go!
  </button>
</div>
