<div *ngIf="book" class="px-4">
  <div class="is-flex">
    <img [src]="book.image_url" [alt]="book.title" />

    <div class="ml-5">
      <h2 class="title is-3 has-text-weight-bold">{{ book.title }}</h2>
      <p class="subtitle is-5 mb-1">{{ book.year }}</p>
      <p class="subtitle is-6">{{ book.rating }}</p>
    </div>
  </div>

  <div *ngIf="book.author" class="is-flex is-align-items-center mt-5">
    <figure *ngIf="authorImgUrl" class="image is-64x64 mr-4">
      <img class="is-rounded" [src]="authorImgUrl" [alt]="book.author" />
    </figure>

    <p class="subtitle is-5 has-text-weight-bold">{{ book.author }}</p>
  </div>

  <div class="mt-5 is-size-5" [innerHTML]="book.description"></div>
</div>
