<div *ngIf="book">
  <div class="flex mb-8">
    <img
      class="material-shadow book-img mr-6"
      [src]="book.image_url"
      [alt]="book.title"
    />

    <div>
      <h2 class="text-3xl font-bold">{{ book.title }}</h2>
      <p class="text-gray-600">
        <span>{{ book.year }}</span>
        <br />
        <span class="text-sm">{{ book.rating }}</span>
      </p>

      <div *gnIf="book.author" class="flex items-center mt-4">
        <img
          *ngIf="authorImgUrl"
          class="w-12 h-12 rounded-full mr-3"
          [src]="authorImgUrl"
          [alt]="book.author"
        />
        <p>{{ book.author }}</p>
      </div>
    </div>
  </div>

  <div [innerHTML]="book.description"></div>
</div>
