<div class="columns is-multiline">
  <div
    *ngFor="let book of books"
    class="column is-half-tablet is-one-third-widescreen"
  >
    <a [routerLink]="['/book', book.id]" class="box is-radiusless">
      <article class="media">
        <div class="media-left">
          <figure class="image">
            <img [src]="book.url_small" [alt]="book.title" />
          </figure>
        </div>

        <div class="media-content">
          <div class="content">
            <p>
              <strong class="title is-5">{{ book.title }}</strong>
              <br />
              <span>{{ book.author }}</span>
              <br />
              <span>{{ book.year }}</span>
            </p>
          </div>
        </div>
      </article>
    </a>
  </div>
</div>
