<div class="columns is-multiline">
  <div class="column is-half" *ngFor="let book of books">
    <a [routerLink]="['/book', book.id]" class="box card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img [src]="book.url" [alt]="book.title" />
        </figure>
      </div>

      <div class="card-content">
        <div class="media-content">
          <p class="title is-4">{{ book.title }}</p>
          <p class="subtitle is-6">{{ book.author }}</p>
          <p class="subtitle is-6">{{ book.year }}</p>
        </div>
      </div>
    </a>
  </div>
</div>
